:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --iris-primary-color: #4d5ae5;
  --ocean-pressed-state-color: #404bbf;
  --navy-blue-dark-color: #2e2f42;
  --green-success-color: #31d0aa;
  --slate-body-text-color: #434455;
  --light-slate-ubtle-text-color: #8e8f99;
  --corn-flower-accent-color: #e7e9fc;
  --cloud-light-mode-color: #f4f4fd;
  --navy-blue-modal-overlay: #2e2f42;
  --grey-hero-image-background: #2e2f42;
  --clean-white: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  letter-spacing: 0.02em;
  font-family: var(--primary-font);
  color: var(--slate-body-text-color);
}
/*=========================COMPONENTS=========================*/

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue-dark-color);
}

.logo-web {
  color: var(--iris-primary-color);
}

.logo-web {
  color: #4d5ae5;
}

.frequently-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--navy-blue-dark-color);
}

.frequently-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: var(--slate-body-text-color);
}

.secondary-title {
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  text-transform: capitalize;

  color: var(--navy-blue-dark-color);
}

/*=========================/COMPONENTS=========================*/

/*=========================HEADER=========================*/
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--navy-blue-dark-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--ocean-pressed-state-color);
}

.contact-mail,
.contact-phone-number {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  color: var(--slate-body-text-color);
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--ocean-pressed-state-color);
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--ocean-pressed-state-color);
}

/*=========================/HEADER=========================*/

/*=========================HERO=========================*/
.hero {
  background: var(--grey-hero-image-background);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--clean-white);
}

.modal-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--clean-white);
  cursor: pointer;

  background: var(--iris-primary-color);
}

.modal-btn:hover,
.modal-btn:focus {
  background: var(--ocean-pressed-state-color);
}

/*=========================/HERO=========================*/

/*=========================BENEFITS=========================*/

/*=========================/BENEFITS=========================*/

/*=========================WORK=========================*/

/*=========================/WORK=========================*/

/*=========================TEAM=========================*/

.team-section {
  background: var(--cloud-light-mode-color);
}

/*=========================/TEAM=========================*/

/*=========================FOOTER=========================*/

.footer-section {
  background: var(--navy-blue-dark-color);
}

.description-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: var(--corn-flower-accent-color);
}

.footer-logo {
  color: var(--cloud-light-mode-color);
}
/*=========================/FOOTER=========================*/

/*=========================PORTFOLIO=========================*/

.filter-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--iris-primary-color);

  text-align: center;
  letter-spacing: 0.04em;
  background: var(--cloud-light-mode-color);

  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--clean-white);
  background: var(--ocean-pressed-state-color);
}

/*=========================/PORTFOLIO=========================*/
